body{
    height: 100vh;
    width: 100vw; 
    background-image: linear-gradient(#B8E1FF, #94FBAB);
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: ;
}

/*Nav bar*/
.navbar{
    width: 100vw;
}

h1{
    color: #82ABA1;
}

/* Calulator modal */
.card{
    background-color: #b8e1ff69;
   
}


#calculate-button{
    background-color:  #BCB6FF;
}

/* Footer */
footer{
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: #bcb6ff67;
}

